<po-page-default p-title="Desafio Técnico TOTVS">
  <p>
    Obrigado pelo seu interesse em fazer parte da maior empresa de tecnologia do Brasil.
    Abaixo será apresentado todas as informações necessárias para iniciar o seu teste.
  </p>

  <h3>Objetivo</h3>
  <ul>
    <li>Nome.</li>
    <li>CPF.</li>
    <li>Telefones (um ou mais).</li>
    <li>Endereço (um ou mais).</li>
  </ul>

  <h3>Requisitos Funcionais</h3>
  <ul>
    <li>O cliente pode ter um ou mais telefones associados.</li>
    <li>O nome do cliente deve ter no mínimo 10 caracteres.</li>
    <li>O CPF deve ser válido e único no sistema.</li>
    <li>Cada telefone deve estar em formato válido e exclusivo.</li>
    <li>Não deve permitir dados duplicados (nome, CPF ou telefone).</li>
  </ul>

  <h3>Detalhamento sobre o BACKEND</h3>
  <ul>
    <li>Utilizar linguagem Java (versão mínima 17).</li>
    <li>Utilizar banco de dados PostgreSQL.</li>
    <li>Prover a estrutura do projeto via containers, usando docker.</li>
    <li>Todo o código deve ser coberto por testes unitários. </li>
    <li>Usar o modelo arquitetural REST para implementação das APIs.</li>
  </ul>

  <h3>Desejável</h3>
  <ul>
    <li>Swagger para documentação</li>
  </ul>

  <h3>Entrega</h3>
  <ul>
    <li>Suba o projeto em um repositório público no GitHub.</li>
    <li>Inclua instruções de build e execução (README.md).</li>
    <li>O projeto deve ser funcional ao rodar via docker-compose up.</li>
  </ul>
</po-page-default>
